body{
	font-family: "PRIMETIME";
	background-image: url(bgimage.gif);
	width: 15em;
	margin: auto;
	font-size: 40px;
}
a{
	display: block;
	text-decoration: none;
	color: white;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0em;
}
ul li{
	width: 480px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(244,128,56,.8);
	border: 4px;
}
ul li.main{
	margin-top: .15em;
	padding: .1em;
	font-size: 40px;
	border-radius: 5px;
}
div{
	background-image: url(bg.gif);
	background-position: center; 
	border: 0.1em solid white;
	border-radius: 0.1em;
	width: 12.5em;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	margin: auto;
	padding:.3em;
}