body{
	font-family: "PRIMETIME";
	background-image: url(bgimage.gif);
	width: 15em;
	margin: auto;
	font-size: 48px
	}
a:link{
	color: White }
a:visited{
	color: White }
ul.navbar a{
	display: block;
	text-decoration: none}
ul.navbar{
	list-style-type: none;
	margin:0;
	padding:0}
ul.navbar li{
	width: 12em;
	margin-left: auto;
	margin-right: auto;
	background: rgba(244,128,56, .8);
	margin-top: .15em;
	border: 0.1em;
	border-radius: 0.1em;
	padding: .1em;
	font-size: 48px;
	transition: background 0.1s linear 0s, color 0.1s linear 0s}
ul.navbar li:hover{
	background-color: rgba(244,128,56,1);
	}
div{
	background: rgba(255,255,255, .75);
	border: 0.1em solid white;
	border-radius: 0.1em;
	width: 12.5em;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	margin: auto;
	padding:.5em
}